body {
	background-color: black;
	font-family: 'Dancing Script';
}

#contenido{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  alignment-adjust: central;
  margin: auto;
  border-radius: 10px;
  animation: rebote 1s;
}

@media all and (min-width:900px) {
  #contenido{
    width: 900px;
  }
}



/* Header Inicio */

header {
  background-color: #5b7989;
  width: 100%;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  alignment-items: center;
}

header div h1{
  color: white;
  text-shadow: 2px 2px #02010a;
  text-align: center;
}

header div nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#menu{
  width: 100%;
}

@media all and (min-width:900px) {
  header div h1{
    text-align: left;
  }

  #menu{
    width: 40%;
  }

  header div nav a{
    color: white;
    padding: 30px;
    flex-grow: 1;
  }

  .activo{
    text-decoration: none;
  }
}

/* Header Fin */

/* Cuerpo Inicio */

img{
	box-shadow: 2px 2px #02010a;
}

#imagen_principal {
	width: 100%;
	background: #82c3a6;
}

#imagen_principal figure{
	width: 80%;
	padding: 10px;
	height: auto;
	margin: auto;
}

#imagen_principal figure img{
	width: 100%;
}

#imagen_temas{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #d5c75f;
	border: 1px;
}

#imagen_temas figure{
	width: 30%;
	margin: auto;
	padding: 10px;
}

@media all and (min-width:900px) {
	#imagen_temas figure{
		width: 40%;
	}
}

#imagen_temas figure img{
		width: 100%;
		transition-property: transform;
		transition-duration: 1s;
}

#imagen_temas figure p{
		text-align: center;
		text-decoration: underline;
		font-size: 1.5em;
}

img[class="rotacion"]:hover{
	-webkit-transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
}

img[class="traslacion"]:hover{
	-webkit-transform: translate(20px,-5px);
	box-shadow: 2px 2px #82c3a6;
}

/* Cuerpo Fin */

/* Inicio Pie de Página*/

footer{
	clear: both;
	width: 100%;
	bottom: 0;
	background: #c6d5c5;
	padding: 20px 40px;
	border-radius: 0 0 10px 10px;
}

.pie {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer div div{
	flex-grow: 1;
	flex-basis: 100%;
	padding: 10px;
}

@media all and (min-width:900px) {
	footer div div{
		flex-basis: 20%;
	}

	footer div div ul li a {
		color: blue;
		text-decoration: none;
		text-decoration: underline;
	}

	footer div div a {
		color: blue;
		text-decoration: none;
		text-decoration: underline;
	}

}

footer div h4{
	margin: 5px 0;
	font-size: 30px;
}

footer div p{
	margin: 0;
}

/* Fin Pie de Página */

/**********************************************************/

/* Animación */

@-webkit-keyframes rebote{
	0%{margin-top: 150%}
	60%{margin-top: -5%}
	100%{margin-top: 0%}
}
